<p id="notice"><%= notice %></p>

<h2>you are currently at.. </h2>

<p><%= @location.full_street_address %></p>


<h3>The closest buses are ....</h3>

<% if @bus_count == 0 %>
  <p>There are no buses around you. You may consider Lyft or Uber</p>
<% else %>
 <% @nearby_buses.each do |bus| %>
  <strong>Route</strong> <%= bus["ROUTE"] %><br/>
  <strong>Vehicle</strong> <%= bus["VEHICLE"] %><br/>
  <strong>Next Stop</strong> <%= bus["TIMEPOINT"] %><br/>
 <% end %>
<% end %>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<br>
<%= link_to 'Actually, I\'m at...', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

